<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fit5140assign1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB04DE891D780E8100D0AD0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB04DEA01D780E8200D0AD0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB04DEAB1D780E8200D0AD0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
